{% extends "base.html" %}

{% block content %}
<div class="container">
    <h2 class="mt-4">Usage Logs</h2>

    <div class="card my-4">
        <div class="card-header">
            All Logs
        </div>
        <div class="card-body">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>User</th>
                        <th>Action</th>
                        <th>Details</th>
                        <th>Timestamp</th>
                    </tr>
                </thead>
                <tbody>
                    {% for log in logs %}
                    <tr>
                        <td>{{ log.id }}</td>
                        <td>{{ log.full_name }}</td>
                        <td>{{ log.action }}</td>
                        <td>{{ log.details }}</td>
                        <td>{{ log.timestamp | datetimeformat }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
{% endblock %}
